<ion-header>
    <ion-grid>
        <ion-row>
            <ion-col style="text-align: center;">
                <ion-icon (click)="previousDay()" style="font-size: 30px;" mode="md" name="arrow-dropleft"></ion-icon>
            </ion-col>
            <ion-col style="text-align: center;">
                <ion-label class="label-day">{{dateCurrent}}</ion-label>
            </ion-col>
            <ion-col style="text-align: center;">
                <ion-icon (click)="nextDay()" style="font-size: 30px;" mode="md" name="arrow-dropright"></ion-icon>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-searchbar [(ngModel)]="textSearch" (ionChange)="onInputSearch($event)"></ion-searchbar>
        </ion-row>
        <ion-row (swipe)="onSwipe($event)">
            <ion-col size="2" class="center">
                <ion-text class="txt-header">Time</ion-text>
            </ion-col>
            <ion-col size="4" class="left">
                <ion-text class="txt-header">Game</ion-text>
            </ion-col>
            <ion-col size="3" class="center">
                <ion-text class="txt-header">Tip</ion-text>
            </ion-col>
            <ion-col size="3" class="center">
                <ion-text class="txt-header">Result</ion-text>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>
<ion-content>
    <ion-grid *ngFor="let taisuu of arrayTaiSuus">
        <ion-row class="row-giai-dau">
            <ion-col>
                <ion-text class="txt-giai-dau">{{taisuu.tournament}}</ion-text>
            </ion-col>
        </ion-row>
        <ion-row class="row-bottom" >
            <ion-col size="2" class="center">
                <ion-text class="txt-time">{{taisuu.time | date:'HH:mm'}}</ion-text>
            </ion-col>
            <ion-col size="4">
                <ion-row>
                    <ion-text>{{taisuu.home}}</ion-text>
                </ion-row>
                <ion-row>
                    <ion-text>{{taisuu.away}}</ion-text>
                </ion-row>
            </ion-col>
            <ion-col size="3" class="center">
                <ion-text class="txt-tip">{{taisuu.tip}}</ion-text>
            </ion-col>
            <ion-col size="3" class="center">
                <ion-spinner name="circles" *ngIf="taisuu.result === ''"></ion-spinner>
                <ion-text class="txt-tip" *ngIf="taisuu.result !== ''">{{taisuu.result}}</ion-text>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-row justify-content-center align-items-center style='height: 100%' *ngIf="arrayTaiSuus.length <= 0">
        <div style="width: 100%;">
            <div class="center" *ngIf="isLoading">
                <ion-spinner name="lines"></ion-spinner>
            </div>
            <div class="center"  *ngIf="isError">
                <ion-text>An error occurred</ion-text>
            </div>
            <ion-button (click)="onRetry()" *ngIf="isError" class="btn-retry" style="margin-left: 37.5%;" shape="round" color="light" (click)="retry()">
                <ion-text class="txt-retry">Retry</ion-text>
            </ion-button>
        </div>
    </ion-row>
</ion-content>
